<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njupt.classroom.dao.BaseSemesteInfoMapper">

    <!--配置 查询结果的列名和实体类的属性名的对应关系-->
    <resultMap id="BaseResultMap" type="com.njupt.classroom.pojo.BaseSemesteInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="begin_date" property="beginDate" jdbcType="DATE"/>
        <result column="stop_data" property="stopData" jdbcType="DATE"/>
        <result column="semeste_name" property="semesteName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, begin_date, stop_data, semeste_name
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from base_semeste_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_semeste_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.njupt.classroom.pojo.BaseSemesteInfo">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into base_semeste_info (id, begin_date, stop_data,
        semeste_name)
        values (#{id,jdbcType=INTEGER}, #{beginDate,jdbcType=DATE}, #{stopData,jdbcType=DATE},
        #{semesteName,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.njupt.classroom.pojo.BaseSemesteInfo">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into base_semeste_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="beginDate != null">
                begin_date,
            </if>
            <if test="stopData != null">
                stop_data,
            </if>
            <if test="semesteName != null">
                semeste_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=INTEGER},
            <if test="beginDate != null">
                #{beginDate,jdbcType=DATE},
            </if>
            <if test="stopData != null">
                #{stopData,jdbcType=DATE},
            </if>
            <if test="semesteName != null">
                #{semesteName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.njupt.classroom.pojo.BaseSemesteInfo">
        update base_semeste_info
        <set>
            <if test="beginDate != null">
                begin_date = #{beginDate,jdbcType=DATE},
            </if>
            <if test="stopData != null">
                stop_data = #{stopData,jdbcType=DATE},
            </if>
            <if test="semesteName != null">
                semeste_name = #{semesteName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.njupt.classroom.pojo.BaseSemesteInfo">
    update base_semeste_info
    set begin_date = #{beginDate,jdbcType=DATE},
      stop_data = #{stopData,jdbcType=DATE},
      semeste_name = #{semesteName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>