<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njupt.classroom.dao.BaseUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.njupt.classroom.pojo.BaseUserInfo" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_identity" property="userIdentity" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="INTEGER" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_head_image" property="userHeadImage" jdbcType="VARCHAR" />
    <result column="user_card_id" property="userCardId" jdbcType="VARCHAR" />
    <result column="user_class" property="userClass" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_identity, user_name, user_password, user_sex, user_phone, user_head_image, 
    user_card_id, user_class
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from base_user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.njupt.classroom.pojo.BaseUserInfo" >
    insert into base_user_info (user_id, user_identity, user_name, 
      user_password, user_sex, user_phone, 
      user_head_image, user_card_id, user_class
      )
    values (#{userId,jdbcType=VARCHAR}, #{userIdentity,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{userSex,jdbcType=INTEGER}, #{userPhone,jdbcType=VARCHAR}, 
      #{userHeadImage,jdbcType=VARCHAR}, #{userCardId,jdbcType=VARCHAR}, #{userClass,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.njupt.classroom.pojo.BaseUserInfo" >
    insert into base_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userIdentity != null" >
        user_identity,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userSex != null" >
        user_sex,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userHeadImage != null" >
        user_head_image,
      </if>
      <if test="userCardId != null" >
        user_card_id,
      </if>
      <if test="userClass != null" >
        user_class,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userIdentity != null" >
        #{userIdentity,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userHeadImage != null" >
        #{userHeadImage,jdbcType=VARCHAR},
      </if>
      <if test="userCardId != null" >
        #{userCardId,jdbcType=VARCHAR},
      </if>
      <if test="userClass != null" >
        #{userClass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njupt.classroom.pojo.BaseUserInfo" >
    update base_user_info
    <set >
      <if test="userIdentity != null" >
        user_identity = #{userIdentity,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        user_sex = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userHeadImage != null" >
        user_head_image = #{userHeadImage,jdbcType=VARCHAR},
      </if>
      <if test="userCardId != null" >
        user_card_id = #{userCardId,jdbcType=VARCHAR},
      </if>
      <if test="userClass != null" >
        user_class = #{userClass,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njupt.classroom.pojo.BaseUserInfo" >
    update base_user_info
    set user_identity = #{userIdentity,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_head_image = #{userHeadImage,jdbcType=VARCHAR},
      user_card_id = #{userCardId,jdbcType=VARCHAR},
      user_class = #{userClass,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <select id="selectByCardId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from base_user_info
    where user_card_id = #{userCardId,jdbcType=VARCHAR}
  </select>

  <select id="selectByTeacherId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from base_user_info
    where user_id = #{userId,jdbcType=VARCHAR} and user_identity = 1
  </select>

  <select id="selectTeacherInfo" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from base_user_info
    where user_identity = 1
  </select>

</mapper>